# Compiled files
*.tfstate
*.tfstate.backup
*.tfstate.lock.info
*planfile
*terraform.tfstate
presentation.pdf
# logs
*.log

# Directories
.terraform/
.vagrant
 terraform-provider-aws 
__pycache__/

# SSH Keys
*.pem

# Backup files
*.bak



# Ignored vscode files
.vscode/


